{
  "extends": ["eslint:recommended", "next", "prettier"],
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "dot-location": ["error", "property"],
    "array-bracket-spacing": ["error", "never"],
    "react/no-unescaped-entities": "off",
    "semi-style": ["error", "last"],
    "space-in-parens": ["error", "never"],
    "array-element-newline": ["error", "consistent"],
    "object-curly-spacing": ["error", "always"],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "no-trailing-spaces":  "off",
    "no-unused-vars": "off"
  }
}
